[Unit]
Description=HW07 Elixir Events

[Service]
Type=simple
User=hw07
Group=hw07
Restart=on-failure
Environment=MIX_ENV=prod
Environment=PORT=4797
Environment=PROD=true
Environment=LANG=en_US.UTF-8

WorkingDirectory=/home/hw07/CS4550_WebDev/hw07/events
ExecStart=/bin/bash /home/hw07/CS4550_WebDev/hw07/events/start.sh

[Install]
WantedBy=multi-user.target
