<h1>Show Comment</h1>

<ul>

  <li>
    <strong>Text:</strong>
    <%= @comment.text %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.comment_path(@conn, :edit, @comment) %></span>
<span><%= link "Back", to: Routes.comment_path(@conn, :index) %></span>
